.right-arrow-svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #cc5500;
  stroke-width: 1.8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.logins-header {
  padding: 20px;
  display: flex;
  gap: 40px;
  align-items: center;

  width: 100%;
  position: fixed;
  background-color: rgb(82, 24, 3);
  background: linear-gradient(to bottom, #000000, #1f1001);
  z-index: 1;
}
